body {

        background-color: #3a2a2a;
        background-attachment:fixed
        background-repeat:no-repeat
        background-size:cover
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        color: #000;
}

.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 220px;
    padding: 20px;
    box-sizing: border-box;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    display: flex;

}

.box:hover{
    box-shadow:0 15px 30px rgba(0,0,0,.5);
    transition: 0.5s;
}

.box .imgBx{
    width: 150px;
    flex: 0 0 150px;
}

.box .imgBx img{
    max-width: 100%;
}

.box.content{
    padding-left: 20px;
}

.box .content h2{
    margin: 0;
    padding-left: 0;
    color: #3a2a2a;
    font-size: 22px;
}

.box .content p{
    margin: 0;
    padding:10px 0 0;
    text-align: justify;
}